<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/ico" href="https://cdn.glitch.global/6103ec87-7cd1-4e3e-92fd-0e50a3625728/favicon.ico"/>
    <script src="https://kit.fontawesome.com/48bc1d1094.js" crossorigin="anonymous"></script>
    <title>Super Bug Tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eczar&family=Quicksand:wght@400;700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="main-container">
        <h1>Super Bug Tracker</h1>
        <div class="second-container">
            <form action="/todos/createTodo" method='POST'>
                <div class="form-header">    
                    <input type="text" placeholder="Enter The Project" name='todoItem'>
                    <input type="date" name="date">
                </div>
                <textarea type="text" cols="45" rows="6" name="desc" placeholder="Description"></textarea>
                <select name="status" id="status">
                    <option value="high" selected>High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
                <button type="submit"><span></span>Add New Bug</button>
            </form>
        </div>
    </div>

    <div class="bug-list-container">
        <ul class="bug-list">
        <% todos.forEach( el => { %>
                <li class='bug-item' data-id='<%=el._id%>'>
                    <div class='<%= el.completed === true ? 'completed' : 'not'%>'>
                        <%= `${el.date.getMonth() + 1}/${el.date.getDate()}/${el.date.getFullYear()}` %>
                    </div> - 
                    <div class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></div>
                    <div><p><%= el.desc %></p></div>
                    <div><%= el.status %></div>
                    <a class='del'><span>Delete</span>  </a>
                </li>
        <% }) %>    
        </ul>
        <h2><%= user.userName %> has <%= left %> bugs to handle! </h2>
    </div>

    <a href="/logout">Logout</a>
    <script src="js/main.js"></script>
</body>
</html>